/**
 * Place your custom styles here.
 */
.wide {
  width:100%;
  height:500px;
  background-image:url('/sites/all/themes/abeancos_theme/img/intro-bg_02.jpg');
  background-size:cover;
  background-repeat:no-repeat;
  background-position:50% center;
  margin-top: -120px; 
}

.wide img {
  width:100%;
}

.logo {
  color:#fff;
  font-weight:800;
  font-size:14pt;
  text-align:center;
}

.line {
  padding-top:20px;
  white-space:no-wrap;
  overflow:hidden;
  text-align:center;
}

.texto-portada {
  font-size: 2em;
  margin-top: 50px;
}

.navbar-brand {
  font-family: 'Gallaecia'
}

.field-item img {
  margin-bottom: 20px;
}
ul.nav li.dropdown:hover ul.dropdown-menu {
display: block;
}
ul.nav li.dropdown ul.dropdown-menu {
margin-top: 0;
}
/*******Fin paxina principal **/
